.page-preventive{
  h1{
    color: rgb(219, 193, 44);
  }
}

.header-preventive{

  display: flex;
  justify-content: flex-start;


}
.main-preventive{
  margin-top: 3rem;
}

.preventive-completed{
  > h2{
    margin: 1rem 0 2rem;
    font-size: 1.7rem;
  }

  > .wrapper-cards-preventive-completed {
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
   
    &::-webkit-scrollbar{
      width: 0;
    }

    #card-component{
      flex: none;
      pointer-events: none;

      & + #card-component{
        margin: 0 1rem;
      }
    }
  }
}

.preventive-accomplish{
  > h2{
    margin: 1rem 0 2rem;
    font-size: 1.7rem;

    @media(max-width: 800px){
      text-align: center;
    }
  }

  .wrapper-cards-preventive-accomplish{
    display: grid;
    align-items: center;
    row-gap: 2rem;
    margin: 1rem 0;

    @media(max-width: 800px){
      justify-items: center;
    }

    @media(min-width: 800px){
      grid-template-columns: repeat(3, 1fr);
    }
  }

}