#component-header{
  margin: 0 auto;

  max-width: 1080px;
  display: flex;
  justify-content: center;
  align-items: center;

}

.container-image-header{
  max-width: 500px;
  height: 150px;

}