header{
  margin: 0 auto;

  max-width: 1080px;
  height: 10rem;

  display: flex;
  justify-content: center;
}

.container-image{
  max-width: 500px;
  height: 100%;
 
  > img {
      object-fit: contain;
  }

}